<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<mvc:annotation-driven />
	<context:component-scan base-package="com.lgom" />
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	    <property name="prefix" value="/WEB-INF/pages/"/>
	    <property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- Excel及PDF视图解析器配置 -->
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" p:order="10" />
	<bean id="userListExcel" class="com.lgom.domain.UserListExcelView" />
	<bean id="userListPDF" class="com.lgom.domain.UserListPDFView" />
	
	<!-- XML视图解析器配置 -->
	<bean id="xmlMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller">
		<property name="streamDriver">
			<bean class="com.thoughtworks.xstream.io.xml.StaxDriver" />
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.lgom.mysql.orm.User</value>
			</list>
		</property>
	</bean>
	
	<bean id="userListXml"
		class="org.springframework.web.servlet.view.xml.MarshallingView"
		p:modelKey="userList" p:marshaller-ref="xmlMarshaller" />
	
	<!-- JSON视图解析器配置 -->
	<bean id="userListJson"
		class="org.springframework.web.servlet.view.json.MappingJacksonJsonView"
		p:renderedAttributes="userList" />
</beans>